/* outer wrappers */
body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* flexbox */

.column {
  background-color: lightgray;
}
/* Animations and board styling */
